h3 {
    text-align: center;
    color: white;
}
header {
    background-color:#2d4249;
    height: 40px;


}
.currentStats {
    background-color: gray;
}
button {
    border: solid 1px gray;
}
.fiveDay {
    background-color: #f98;
}
.city {
    font-size: 32px;
}